*{
    margin: 0;
    padding: 0;
}

header{ 
    padding-right: 0px;
    padding-bottom: 0px;
    margin: 0px;
    text-align: center;
    background: #60f2ff;
    font-size: 30px;
}

.topnav {
    background-color: rgb(29, 29, 29);
    overflow: hidden;
    box-shadow: 0px 0px 10px 0.5px black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
}

.topnav a:hover {
    background-color: #60f2ff;
  color: black;
}

.topnav a.active {
  background-color: rgb(46, 93, 155);
  color: white;
}

.topnav-right {
  float: right;
}

body {
    background-image: url("back.jpg");
}

h1 {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    text-shadow: 10px 10px 9px rgb(150, 150, 150);
}

p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 70px;
    line-height: 25px;
}

h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    border: 3px solid;
    margin-top: 30px;
    box-shadow: 0px 0px 8px 0.5px black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 20px 18px 16px 18px;
    background-color: inherit;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #60f2ff;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 225, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}  

.dropdown-content a:hover {
    background-color: #60f2ff;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    margin-top: 120px;
    padding-bottom: 50px;
    padding-top: 0px;
    text-align: center;
    background: #60f2ff;
}

footer p {
    text-align: center;
    font-size: 18px;
}
