** {
    margin: 0;
    padding: 0;
}

body {
	background-color: #060606;
    background-image: url(515.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	color: #fff;
	font-family: "Helvetica Neue", sans-serif;
    margin: 0;
}

p {
    margin-left: 12%;
    margin-right: 12%;
    font-size: 18px;
}

header {
    box-shadow:  black;
    box-shadow: 0px 0px 10px 0.5px black;
    background-color: white;
}

#banner {
    height: 50px;
	padding: 0px 0px 100px 0px;
}

#banner h1 {
    float: left;
    position: absolute;
    width: auto;
    top: 10px;
}

#banner h1 img {
    width: auto;
    height: 100%;
    max-width: 300px;
    max-height: 125px;
}

#banner nav {
    position: relative;
    float: right;
    padding-right: 10%;
}

#banner ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#banner nav ul li {
	display: inline-block;
	padding: 0 55px;
}

#banner nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    top: 60px;
    position: absolute;
    text-decoration: none;
}

#banner nav ul li a:hover {
    color: rgb(102, 102, 102);
}

#Instrumentos h2 {
	line-height: 3;
	margin: 0;
	text-align: center;
    text-shadow: 10px 15px 10px rgba(0, 0, 0, 0.39);
    text-transform: uppercase;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
}

#Instrumentos table {
    background-color: #2a2a2a00;
    border-collapse: collapse;
	margin: 0 auto;
    width: 70%;
    position: relative;
}

#Instrumentos table td,
#Instrumentos table th {
	border: 5px rgba(170, 170, 170, 0.39);
	font-size: 12px;
	padding: 50px;
	text-align: center;
	text-transform: uppercase;
    width: 20%;
    height: auto;
}

#copyright {
    padding: 1px 0 80px 0;
    box-shadow:  black;
    box-shadow: 0px 0px 10px 0.5px black;
    background-color: white;
}

#copyright a img {
	display: block;
    position: absolute;
    margin-left: 800px;
    width: auto;
    height: 70px;
}

#copyright p {
	font-size: 12px;
    text-align: center;
    color: black;
}

#Instrumentos {
	margin-top: 10px;
	padding-bottom: 60px;
}

.boxed {
    position: relative;
    align-self: center;
    top: 100px;
    left: 0px;
    right: 0px;
    background-color: rgba(170, 170, 170, 0.39);
    padding: 20px 250px 20px 250px;
    border-width: none;
    text-align: justify;
    font-size: 22px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 30%;
    border: 2px solid black;
    margin-top: 10%;
    box-shadow: 0px 0px 8px 0.5px black;
}

p {
    text-align: justify;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 70px;
    color: black;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    max-width: 500px;
}

h1 {
    line-height: 3;
	margin: 0;
	text-align: center;
    text-shadow: 10px 15px 10px rgba(0, 0, 0, 0.39);
    text-transform: uppercase;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
}
 
input, textarea {
    width: 150px;
    padding: 10px;
    color: black;
    margin-left: -30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
 
input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000000;
    box-shadow: 5px 0px 9px rgba(195, 195, 195, 0.493);
    background-color: rgb(224, 224, 224);
    color: black;
    font-weight: bold;
}
 
.submit input {
    background-color: rgb(255, 51, 51);
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}
 
textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}
 
form label {
    margin-left: 20px;
    color: rgb(0, 0, 0) 6, 6);
    font-weight: bold;
}