* {
    margin: 0;
    padding: 0;
}

body {
	background-color: #060606;
    background-image: url(515.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	color: #fff;
	font-family: "Helvetica Neue", sans-serif;
    margin: 0;
}

header {
    box-shadow:  black;
    box-shadow: 0px 0px 10px 0.5px black;
    background-color: white;
}

p {
    margin-right: 150px;
    margin-left: 150px;
}

#banner {
    height: 50px;
	padding: 0px 0px 100px 0px;
}

#banner h1 {
    float: left;
    position: absolute;
    width: auto;
    top: 10px;
}

#banner h1 img {
    width: auto;
    height: 100%;
    max-width: 300px;
    max-height: 125px;
}

#banner nav {
    position: relative;
    float: right;
    padding-right: 100px;
}

#banner ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#banner nav ul li {
	display: inline-block;
	padding: 0 70px;
}

#banner nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    top: 60px;
    position: absolute;
    text-decoration: none;
}

#banner nav ul li a:hover {
    color: rgb(102, 102, 102);
}

#Instrumentos h2 {
    margin-top: px;
	line-height: 3;
	margin: 0;
	text-align: center;
    text-shadow: 10px 15px 10px rgba(0, 0, 0, 0.39);
    text-transform: uppercase;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
}

.boxed {
    position: relative;
    align-self: center;
    top: 100px;
    left: 0px;
    right: 0px;
    background-color: rgba(170, 170, 170, 0.39);
    padding: 20px 250px 20px 250px;
    border-width: none;
    text-align: justify;
    font-size: 22px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    border: 3px solid;
    margin-top: 30px;
    box-shadow: 0px 0px 8px 0.5px black;
}
